.container {
  max-width: 1320px;
  margin-inline: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: var(--gray-bg);
  color: var(--primary);
  font-weight: bold;
}

.nav {
  width: 100%;
  border: 3px solid var(--primary);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 1px 1px 1px gray;
  padding: 1rem;
  background-color: white;
}
