@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5494be;
  --gray-bg: #d8d8d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c5c4c4;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
