@import "tailwindcss";
@import "./styles/nav.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff5100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dbdbdb;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
